<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @station.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @station.latitude %>
</p>

<p>
  <strong>Kid:</strong>
  <%= @station.kid %>
</p>

<p>
  <strong>Student:</strong>
  <%= @station.student %>
</p>

<p>
  <strong>Young:</strong>
  <%= @station.young %>
</p>

<p>
  <strong>Grown:</strong>
  <%= @station.grown %>
</p>

<p>
  <strong>Thirty:</strong>
  <%= @station.thirty %>
</p>

<p>
  <strong>Forty:</strong>
  <%= @station.forty %>
</p>

<p>
  <strong>Fifty:</strong>
  <%= @station.fifty %>
</p>

<p>
  <strong>Senior:</strong>
  <%= @station.senior %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
